
.music {
    float: left;
    padding-left: 20px;
    
}

.image {
    float: left;
    border-radius: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: 35fr 22fr;
    padding-right: 2%;
    padding-left: 5%;
    overflow: hidden;
}

.box {
    height: 100px;
    padding-bottom: 0.5%;
}


body {
    padding: 5%;
    overflow: hidden;
    padding-right: 13%;
    background-image: url('Assets/backy.JPG') ;
    background-attachment: fixed; 
  background-size: 100% auto;
  background-position: 4%;
  background-position-x: center;
}

#image {
    padding-left: 5%;
    padding-top: 5%;
    position: fixed;
}

.container {
    overflow: hidden;
    overflow-y: scroll;
    height: 60%;
    outline-style: none;
}


.container::-webkit-scrollbar{
    display: none;
  }


p {
    color: white;
    font-family: futura;
    font-size: 18px;
}

@font-face {
    font-family: 'futura';
      src: url('fonts/futura.eot'); /* IE9 Compat Modes */
      src: url('fonts/futura.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/futura.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/futura.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/futura.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/futura.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }

audio {
    width: 300px;
}

.atm {
    position: fixed;
    top: 2%;
    right: 15%;
    width: 30%;
    height: auto;
    rotate: 15deg;
}