/* ======================================
Responsive Image gallery Style rules
======================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
    background-image: linear-gradient(to right, #859eaa, #d5a88a);

  }
  
  .container {
    padding: 10%;
  }
  
  .heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  ul {
    list-style: none;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    text-align: center;
    padding-bottom: 10%;
  }
  
  .image-gallery > li {
    /* fallback */
    display: inline-block;
    height: 200px;
    margin: 0 5px 10px 5px;
    /* end fallback */
    position: relative;
    cursor: pointer;
  }
  
  @supports (display: flex) {
    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      row-gap: 120px;
    }
  
    .image-gallery > li {
      flex-basis: 200px; /*width: 350px;*/
      margin: 0;
    }
  
    .image-gallery::after {
      content: "";
      flex-basis: 200px;
    }
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
 
  span {
    display: none;
  }

.title {
    text-align: center;
    font-size: 330%;
    color: white;
    padding-bottom: 7%;

    font-family: 'Bungee Outline';
}


.homebut {
    position: fixed;
    right: 5%;
    top: 9%;
    width: 7%;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: 90%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}


.button-close-modal {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
  position: absolute;
  top: 11%;
  right: 5.7%;
  color: white;
  font-weight: 300;
}

.close {
  position: absolute;
  bottom: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

button {
  border-radius: 22px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  width: 25%;
  height: 70px;
  text-decoration: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid white;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;

  transition: color 0.5s, border 0.5s;
}

button:hover {
  color: rgb(84, 84, 184);
  border: 2px solid rgb(84, 84, 184);
}
