
    body {
        background: #222222;
        font-family: 'Lato', sans-serif;
        margin: 70px 220px 100px 50px;
      }
    
    h1 {
        color: white;
        padding: 0px 20px 0px 125px;
        height: 20px;
    
    }
    
    h2 {
      color: black;
      transform: rotate(270deg);
      font-size: 80px;
      font-family: 'Lato', sans-serif;
    }
    
    h2:hover {
      color: white;
    }
    
    header {
      position: relative;
      font-family: 'Lato';
      font-style: normal;
      padding-top: 10px;
      padding-bottom: 100px;
    }
    
    
    p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    color: black;
    }
    
    p:hover {
        color: white;
    }
    
    a { color:black }
      a:link { text-decoration: none; }
      a:visited { text-decoration: none; }
      a:hover { text-decoration: none; color:white; }
      a:active { text-decoration: none; }
    
    div.flex-container {
     min-height: 200px;
      margin-bottom: 1em;
      display: flex;
    }
    
    .side {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;
      width: 20%;
      align: top;
      padding-top: 960px;
      padding-right: 60px;
      height: 400px;
      align-content: center;
    }
    
    .side-main {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 1;
      width: 78%;
      margin: 5px;
      padding-right: 100px;
     
    }
    
    header {
      position: relative;
      padding: 10px 0;
    }
    
    .home {
      position: fixed;
      top: 130px;
      right: 0px;
      left: 1200px;
      padding: 10px 0px;
      text-decoration: none;
      border-radius: 5px;
      text-align: justify;
      font-size: 90px;
      font-family: 'Lato', sans-serif;
      line-height: 50px;
      
    }
    
    .colophon {
      position: fixed;
      top: 210px;
      right: 0px;
      left: 1212px;
      padding: 10px 0px;
      text-decoration: none;
      border-radius: 5px;
      text-align: justify;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      line-height: 50px;
    }
    
    h1,
    .home,
    .colophon,
    .side {
            font-size: 37px;
            line-height: 45px;
            margin-bottom: 120px;
            color: #958B8B;
            filter: blur(3.5px);
            font-family: 'Lato', sans-serif;
            -webkit-transition: filter 0.5s ease-out;
            -moz-transition: filter 0.5s ease-out;
            -o-transition: filter 0.5s ease-out;
            transition: filter 0.5s ease-out;
          }
      
          h1:hover {
          filter: none;
          color: white;
      }

    .home:hover {
        filter: none;
        color: white;
    }

    .colophon:hover {
        filter: none;
        color: white;
    }

    .side:hover {
        filter: none;
        color: white;
    }
      
      
            a { color:#958B8B }
            a:link { text-decoration: none; }
            a:visited { text-decoration: none; }
            a:hover { text-decoration: none; color:white; }
            a:active { text-decoration: none; }
    

    @media screen and (min-width: 768px) {
      .home {
        display: block;
      }
    }
    
    h2.p {
        font-family: 'Lato', sans-serif;
        white-space: pre;
        font-size: 80px;
        font-weight: 400;
    }
    
    h1.p {
      font-family: 'Lato'; sans-serif;
      font-size: 90px;
      font-weight: 100;
      padding-bottom: 100px;
    }
