
    body {
        background: #222222;
        font-family: 'Lato', sans-serif;
        margin: 70px 220px 100px 50px;
      }
    
    h1 {
        color: #958B8B;
        padding: 20px 20px 0px 100px;
        height: 20px;
    
    }
    
    h2 {
      transform: rotate(270deg);
      font-size: 80px;
      font-family: 'Lato', sans-serif;
    }
    
    h2:hover {
      color: white;
    }
    
    header {
      position: relative;
      font-family: 'Lato';
      font-style: normal;
      padding-top: 10px;
      padding-bottom: 100px;
    }
    
    
    p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    color: black;
    }
    
    p:hover {
        color: #958B8B;
    }
    
      a:link { text-decoration: none; }
      a:visited { text-decoration: none; }
      a:hover { text-decoration: none; color:white; }
      a:active { text-decoration: none; }
    
    div.flex-container {
     min-height: 200px;
      margin-bottom: 1em;
      display: flex;
    }
    
    div.side {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;
      width: 20%;
      box-align: top;
      padding-top: 960px;
      padding-right: 60px;
      height: 400px;
      align-content: center;
    }
    
    div.side-main {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 1;
      width: 78%;
      margin: 5px;
      padding-right: 100px;
     
    }
    
    header {
      position: relative;
      padding: 5px 0;
    }
    
    .home {
      position: fixed;
      top: 130px;
      right: 0px;
      left: 1200px;
      padding: 10px 0px;
      text-decoration: none;
      border-radius: 5px;
      text-align: justify;
      font-size: 90px;
      font-family: 'Lato', sans-serif;
      line-height: 50px;
      
    }
    
    .colophon {
      position: fixed;
      top: 210px;
      right: 0px;
      left: 1212px;
      padding: 10px 0px;
      text-decoration: none;
      border-radius: 5px;
      text-align: justify;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      line-height: 50px;
    }
    
    h1,
    .home,
    .colophon,
    div.side {
            color: #958B8B;
            filter: blur(3.5px);
            font-family: 'Lato', sans-serif;
            -webkit-transition: filter 0.5s ease-out;
            -moz-transition: filter 0.5s ease-out;
            -o-transition: filter 0.5s ease-out;
            transition: filter 0.5s ease-out;
          }
      
    h1:hover {
          filter: none;
          color: white;
      }

    .home:hover {
        filter: none;
        color: white;
    }

    .colophon:hover {
        filter: none;
        color: white;
    }

    div.side:hover {
        filter: none;
        color: white;
    }
      
      
            a { color:#958B8B }
            a:link { text-decoration: none; }
            a:visited { text-decoration: none; }
            a:hover { text-decoration: none; color:white; }
            a:active { text-decoration: none; }
    

    @media screen and (min-width: 1300px) {
      .home {
        position: fixed;
      }
    }

    
    h2.p {
        font-family: 'Lato', sans-serif;
        white-space: pre;
        font-size: 80px;
        font-weight: 400;
    }
    
    h1.p {
      font-family: 'Lato';
      font-size: 120px;
      font-weight: 100;
      padding-bottom: 100px;
    }

    @media screen and (max-width: 1300px) {
        div.side {
            width: 150px;
            font-size: 20px;
            display: flex;
            justify-content: space-around;
            flex-flow: column nowrap;
            box-align: top;
            padding-right: 170px;
            padding-top: 1100px;
            height: 400px;
            align-content: center;
            margin: 5px;
            text-align: right;
            font-weight: 200;
            line-height: 120px;
            filter: none;
          }
    
          div.side-main {
            width: 80%;
            padding-top: 30px;
          }
        body {
            margin: 60px 60px 60px 100px;
        }
        p {
            font-family: 'Lato';
            font-style: normal;
            font-size: 15px;
            padding-top: 20px;
            color: #958B8B;
            }
            h2 {
                font-family: 'Lato', sans-serif;
                white-space: pre;
                font-size: 90px;
                font-weight: 100;
                line-height: 110px;
                text-align: center;
                filter: none;
                padding-top: 50px;
            }
            
            h1.p {
              font-family: 'Lato'; 
              font-size: 120px;
              font-weight: 300;
              padding-bottom: 100px;
              text-align: left;
              filter: none;
            }
        header {
            padding: 1px 20px 0px 70px;
        }
        .home {
            position: absolute;
            top: -30px;
            right: 0px;
            left: 65px;
            padding: 10px 0px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 50px;
            white-space: pre;
            font-family: 'Lato', sans-serif;
            line-height: 50px;
            filter: none;
            
          }
          
          .colophon {
            position: absolute;
            top: 180px;
            right: 0px;
            left: 165px;
            padding: 10px 0px;
            text-decoration: none;
            border-radius: 5px;
            text-align: justify;
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            line-height: 50px;
            filter: none;
          }
    }
    
    @media (max-width:1037px) {
        h1.p {
            font-family: 'Lato'; 
            font-size: 80px;
            font-weight: 300;
            padding-bottom: 10px;
            text-align: left;
            filter: none;
          }
      header {
          padding: 30px 20px 70px 70px;  
    }
        .home{ 
            position: absolute;
            top: -30px;
            right: 0px;
            left: 65px;
            font-size: 50px;
        } 
          .colophon {
            position: absolute;
            top: 180px;
          }
          div.side {
            width: 150px;
            font-size: 20px;
            display: flex;
            justify-content: space-around;
            flex-flow: column nowrap;
            box-align: top;
            padding-right: 170px;
            padding-top: 1100px;
            height: 400px;
            align-content: center;
            margin: 5px;
            text-align: right;
            font-weight: 200;
            line-height: 120px;
            filter: none;
          }
    
    }
    
    @media (max-width: 700px) {
        div.side {
            padding-top: 590px;
            width: 10%;
            display: flex;
            justify-content: space-around;
            flex-flow: column nowrap;
            box-align: top;
            padding-right: 110px;
            height: 400px;
            align-content: center;
            margin: 5px;
            text-align: right;
            font-weight: 200;
            line-height: 120px;
            filter: none;
          }
          div.side-main {
            width: 90%;
          }
        body {
            margin: 10px 20px 20px 40px;
        }
        p {
            font-family: 'Lato';
            font-style: normal;
            font-size: 13px;
            padding-top: 20px;
            color: #958B8B;
            }
            h2.p {
                font-family: 'Lato', sans-serif;
                white-space: pre;
                font-size: 40px;
                line-height: 80px;
                text-align: center;
                filter: none;
            }
            
            h1.p {
              font-family: 'Lato'; 
              font-size: 65px;
              font-weight: 300;
              padding-bottom: 10px;
              text-align: left;
              filter: none;
            }
        header {
            padding: 30px 20px 0px 20px;
        }
        .home {
            position: absolute;
            top: -10px;
            right: 0px;
            left: 50px;
            padding: 10px 0px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 40px;
            white-space: pre;
            font-family: 'Lato', sans-serif;
            line-height: 40px;
            filter: none;
            
          }
          
          .colophon {
            position: absolute;
            top: 115px;
            right: 0px;
            left:100px;
            padding: 10px 0px;
            text-decoration: none;
            border-radius: 5px;
            text-align: justify;
            font-size: 10px;
            font-family: 'Lato', sans-serif;
            line-height: 50px;
            filter: none;
          }
    }
    