


  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .grid-container {
    display: grid;
    grid-template-columns: 44fr 15fr;
    grid-gap: 20px;
}
  

  .grid-child-element.left {

    width: 100%;
    padding-bottom: 880px;
    }


  
  /* Clear floats after the columns */
  .grid-container-element:after {
    content: "";
    display: table;
    clear: both;
  }
  
.item-title {
    font-size: 20px;
    padding: 0px;
    margin: 0;
    display: flex;
    margin-top: 5%;
    padding-top: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.item-artist {
    font-size: 14px;
    margin:0;
    margin-bottom: -2%;
    margin-top: 1px;
    padding-top: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    text-align: center;
    padding-bottom: 20px;
}

img {
    align-content: center;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
    flex-wrap: wrap;
}



.title {
    font-size: 950%;
    font-family: 'Bungee Outline';
    padding: 10px;
    top: -150px;
    margin-bottom: -5%;
    color: white;
    position: relative;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 0%;
}


ul li {
    vertical-align: middle;
}

ul {
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  body {
    padding: 80px;
    background: 
        linear-gradient(217deg, rgba(156, 96, 96, 0.8), rgba(255,0,0,0) 70.71%) fixed,            
        linear-gradient(127deg, rgba(221, 126, 32, 0.8), rgba(0,255,0,0) 70.71%) fixed,            
        linear-gradient(336deg, rgba(152, 80, 131, 0.8), rgba(0,0,255,0) 70.71%) fixed;
    height: 100%;
    margin: 0; 
    padding-bottom: 200px;
    }

    html {
        height: 100%;
    }


  .grid {
    margin: 1%;
  }

.divs {
    display: flex;
}

.buttons {
    flex-direction: row;
    padding-top: 29px;
    
}

.button {
    background-color: none;
    border: white;
    color: transparent;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    width: 25%;
    height: 5%;
    text-decoration: none;
    border-radius: 12px;
}

.button:hover {
    border: 10px;
    border-color: white;
}


button {
    border-radius: 22px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    text-decoration: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid white;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

    transition: color 0.5s, border 0.5s;
}

button:hover {
    color: rgb(84, 84, 184);
    border: 2px solid rgb(84, 84, 184);
    background-color: transparent;
}

.here {
    background-color: white;
    border: 2px solid none;
    color: rgb(84, 84, 184);
}

.homebut {
    position: fixed;
    right: 5%;
    top: 9%;
    width: 7%;
}

a {
    text-decoration: inherit;
}

#info {
    overflow-wrap: break-word;
  hyphens: auto;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 250px;
}
img {
    width: 240px;
    height: 240px;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p {
    max-width: 210px;
}

.is-hidden{
    display: none;
}

.back {
    position: relative;
    right: 8%;
    top: 22%;
}


  .arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    height: 20px;
    width: 20px;
    transition: color 0.5s, border 0.5s;
}

.arrow.left:hover {
    color: rgb(84, 84, 184);
    border: solid rgb(84, 84, 184);
    border-width: 0 2px 2px 0;
  }

  @media only screen and (max-width: 930px) {

  .grid-child-element.right {
    width: 100%;
    padding-left: 3.5%;
    padding-bottom: 2%;
   }
   .grid-child-element.left {
    width: 100%;
    }
    .grid-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .title {
        font-size: 16vw;
        top: -131px;
    }
    .back {
        right: 21%;
        top: 14%;
    }
    .divs {
        top: 300px;
    }
    .button {
        font-size: 4px;
    }
  }

  
